<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="project">
        <div class="project__desc">
            <div class="project__data">
                с <span class="from"></span> по <span class="to"></span>
            </div>
            <h4>
                <a href="#">
                    
                </a>
            </h4>
            <div class="project__text">
                
            </div>
        </div>
    </div>
</body>
</html>