<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="project">
        <div class="project__desc">
            <div class="project__data">
                с <span class="from">23.09.23</span> по <span class="to">31.12.23</span>
            </div>
            <h4>
                <a href="#">
                    Длинный заголовок в несколько строк
                </a>
            </h4>
            <div class="project__text">
                Текст зафиксированная на каком-либо  носителе человеческая мысль в общем плане связная и полная последовательность символов.
            </div>
        </div>
    </div>
</body>
</html>