<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    iv class="head__municipal mainTemp ">
                            <div class="top">
                                <h3>
                                    Глава муниципального образования
                                </h3>
                                <button onclick="changeView()">change View</button>
                            </div>

                            <div class="temp">

                                    <div class="point__title">
                                        <h4>Заместитель главы муниципального образования (строительство, архитектура, транспорт)</h4>
                                    </div>


                                    <div class="point__title">
                                        <h4>Заместитель главы муниципального образования (вопросы внутренней политики)
                                        </h4>
                                    </div>


                                    <div class="point__title">
                                        <h4>Заместитель главы муниципального образования  (вопросы социального развития)
                                        </h4>
                                    </div>


                                    <div class="point__title">
                                        <h4>Заместитель главы муниципального образования  (вопросы экономики, торговли, финансы, инвестиций, контроля) 
                                        </h4>
                                    </div>

                                    
                                    <div class="point__title">
                                        <h4>Заместитель главы муниципального образования  (вопросы имущественных и земельных отношений, АПК) 
                                        </h4>
                                    </div>


                                    <div class="point__list">
                                        <ul>
                                            <li>Отдел архитектуры и градостроительства </li>
                                            <li>Отдел по вопросам жилищно-коммунального хозяйства</li>
                                        </ul>
                                    </div>

                                    <div class="point__list">
                                        <ul>
                                            <li>Общий отдел отдел по организационной работе и взаимодействию с органами
                                                местного самоуправления </li>
                                            <li>Архивный отдел </li>
                                            <li>Отдел информатизации </li>
                                            <li> Отдел по кадровой работе и муниципальной службе </li>
                                            <li>Юридический отдел </li>
                                        </ul>
                                    </div>
                                   
                                    <div class="point__list">
                                        <ul>
                                            <li>Отдел по делам несовершеннолетних </li>
                                            <li>Отдел по вопросам семьи и детства отдел по социальным вопросам  </li>
                                            <li>Управление образованием  </li>
                                            <li> Отдел по делам молодежи </li>
                                            <li>Управление культуры</li>
                                        </ul>
                                    </div>
 
                                    <div class="point__list">
                                        <ul>
                                            <li>Отдел экономики, торговли, инвестиций  </li>
                                            <li>Финансовое управление </li>
                                            <li>Контрольно-ревизионный отдел</li>
                                            
                                        </ul>
                                    </div>
                                   
                                    <div class="point__list">
                                        <ul>
                                            <li>Управление имущественных и земельных отношений   </li>
                                            <li>Отдел по вопросам сельского хозяйства и охраны окружающей среды </li>
                                        </ul>
                                    </div>
                        </div>


                    </div>
</body>
</html>