@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

:root {
    --gray: #333;
    --blue: #365edc
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden
}

main img {
    width: 100%;
    height: auto
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    transition: all .3s ease-in-out
}

.visible__none {
    opacity: 0
}

.visible__content {
    opacity: 1
}

section {
    transition: all .5s ease-in-out
}

ul,
.info__left,
.info__header,
.info__left,
.info__right,
.info__phone,
.soc__icons,
.lang__tool,
.visually__tools,
.main__nav,
.nav__left,
.slider__wrapper,
.public__services,
.left__services,
.right__services,
.right__services>div:last-child,
.news__items,
.s__item,
.message__items article,
.flex__section>div,
.services__items,
.slider__title,
.slider__items,
.copyright,
.left__copy,
.right__copy,
.search,
.news__desc,
.news__items article,
.phone__item {
    display: flex;
    flex-direction: row;
    align-items: center
}
.btn__up {
    position: absolute;
    bottom: 20px;
    right: 0;
    transition: all .3s ease-in-out;
    border-radius: 50%
}

.btn__up:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px var(--blue)
}
.loading {
    display: none !important;
    background-image: url(../img/placeholder.webp)
};
main{
    position: relative;
}



.search__active {
    top: 0
}

.desc__burger__active .top__header,
.desc__burger__active .main__header,
.desc__burger__active .intro__slider,


.owl-carousel .owl-item .mob__icon,
.mob__img,
.news__items .owl-nav,
.news__items .owl-dots,
.message__items .owl-nav,
.message__items .owl-dots,
.mob__arrow {
    display: none
}

.intro__slider__wrapper {
    padding: 130px 10px 10px
}

.intro__slider__wrapper {
    position: relative;
    width: 100%
}

.slider__wrapper>div:first-child {
    margin: auto;
    width: 100%;
    margin-bottom: 165px
}

.intro__tools {
    position: absolute;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
    background-color: #fff;
    transition: all .3s ease-in-out;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    z-index: 999;
    padding: 14px 12px
}

.intro__tools:hover {
    right: 0
}

.tool__icon a {
    display: block;
    background-color: #fff;
    padding: 14px 10px;
    border: 0;
    outline: 0;
    cursor: pointer
}

.prev__next,
.owl-prev,
.owl-next {
    outline: 0;
    background: rgba(0, 0, 0, .4);
    border: 0;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0;
}

.slider__wrapper,
.slider__display,
.projects__items {
    position: relative
}

.slider__wrapper {
    flex-direction: column;
    padding: 0 0 70px
}

.slider__wrapper .prev__next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%)
}

.slider__wrapper .prev__next:first-child {
    left: -60px
}

.slider__wrapper .prev__next:last-child {
    right: -60px
}

.owl-prev,
.owl-next {
    background-color: #fff !important;
}

.owl-nav span {
    color: #333;
    font-size: 2em;
    line-height: .5
}

.intro__slider h1 {
    font: 700 80px Montserrat;
    color: #fff;
    transition: all .3s ease-in-out
}

.loading h1 {
    font-size: 16px
}

.intro__slider p {
    color: #fff;
    margin: 25px 0 43px;
    font: 18px Montserrat;
    line-height: 28px;
    width: 80%
}

.send__btn {
    padding: 18px 27px;
    background-color: var(--blue);
    border: 1px solid transparent;
    border-radius: 4px;
    outline: 0;
    cursor: pointer;
    color: #fff;
    font: 400 16px Montserrat;
    transition: all .5s ease-in-out
}

.send__btn:hover {
    border-color: #e5e5e5;
    background-color: #fff;
    color: #000
}

.slider__display {
    width: 100%
}

.slider__items {
    overflow: hidden
}

.slider__item {
    flex: 0 0 100%;
    transition: all .5s ease-in-out
}

.slider__dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    align-items: center;
    transition: all .3s ease-in-out
}

.dot {
    padding: 4px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease-in-out
}

.active__dot {
    background-color: var(--blue);
    transform: scale(1.5)
}

.left__services,
.right__services {
    border: 1px solid #e5e5e5;
    flex-basis: 49%;
    border-radius: 4px;
    align-items: flex-end
}

.public__services {
    padding: 60px 10px 0;
    justify-content: space-between;
    align-items: stretch
}

h4 span {
    color: #dd606c
}

.services__desc {
    padding: 20px 0 20px 20px
}

.services__desc h4 {
    color: var(--blue);
    font-weight: 600
}

.services__desc h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0
}

.services__desc p {
    color: #7a7a7a;
    margin: 15px 0
}

.services__desc .send__btn {
    padding: 15px 20px
}

.right__services {
    background: url(../img/services-bg.webp) 0 center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #60b5f6
}

.right__services {
    flex-direction: column;
    align-items: flex-start
}

.right__services>div:last-child {
    width: 100%;
    justify-content: space-between;
    align-items: start;
    padding: 0 0 0 20px
}

.right__services .services__desc {
    width: 70%;
    padding-bottom: 0
}

.right__services p {
    color: #fff
}

.right__services h4 {
    font: 700 16px Montserrat
}

.services__sticker {
    text-wrap: nowrap;
    background-color: var(--blue);
    padding: 20px;
    border-radius: 60px 0 0;
    text-align: right
}

.flex__section {
    margin: 90px auto
}

.categories,
.event__activites,
.hot__numbers {
    padding: 88px 10px 102px;
    background-color: #f8f8f8
}

.flex__section>div {
    justify-content: space-between
}

.flex__section>div:first-child {
    margin: 0 auto 50px auto
}

.flex__section h2,
.slider__title h2 {
    font: 700 40px Roboto;
    color: #333
}

.all__news a {
    font-size: .8em;
    color: #333
}

.news__items article:hover,
.message__items article:hover {
    box-shadow: 0 0 10px #333
}

.event__activites article:hover {
    padding: 10px
}

.news__items article {
    border: 1px solid #e5e5e5;
    flex-direction: column;
    border-radius: 4px;
    height: 100%;
    transition: all .5s ease-in-out
}

.news__items {
    padding: 10px;
    overflow: hidden
}

.news__items .owl-stage {
    align-items: stretch
}

.news__img img {
    width: 100%
}

.news__desc {
    padding: 26px;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    align-items: start;
    width: 100%
}

.news__desc h4 {
    margin: 14px 0 16px;
    font: 400 16px Roboto;
    color: #333
}

.news__desc h4 a {
    color: #333;
    font: 16px Roboto
}

.news__desc h3 {
    font: 12px Montserrat;
    padding: 0 8px
}

.news__data {
    font: 12px Montserrat
}

.services__items {
    flex-wrap: wrap
}

.s__item {
    flex-basis: calc(33% - 24px);
    padding: 48px 13px;
    border-bottom: 1px solid #e5e5eb;
    transition: all .5s ease-in-out
}

.s__item:hover {
    transform: scale(1.1)
}

.s__item:hover .item__icon {
    box-shadow: 0 0 10px var(--blue)
}

.item__icon {
    margin: 0 35px 0 0;
    padding: 13px 13px 11px;
    border-radius: 50%;
    background-color: #fff;
    transition: all .5s ease-in-out
}

.s__item p {
    font: 500 20px Roboto;
    color: #333
}

.message__items article {
    padding: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    justify-content: space-between;
    transition: all .5s ease-in-out
}

.message__desc {
    flex-basis: 60%
}

.message__data {
    color: #999;
    font: 13px Montserrat
}

.message__desc h3 {
    margin: 24px 0 14px;
    color: #333;
    font: 16px Roboto
}

.message__text {
    color: #666;
    font: 15px Montserrat
}

.event__data {
    color: #999;
    font: 400 13px Montserrat;
    margin: 18px 0 11px
}

.event__activites .news__desc {
    padding: 0;
    display: block
}

.event__activites article {
    border: 0
}

.event__activites h4 {
    margin: 0
}

.slider__section {
    padding: 105px 0 124px;
    background-color: var(--blue);
    overflow: hidden
}

.slider__title h2,
.slider__title a {
    color: #fff
}

#slide1:before,
#slide1:after {
    position: absolute;
    content: '';
    width: 10%;
    height: 100%;
    background-color: red;
    top: 0;
    z-index: 5;
    background: linear-gradient(90deg, rgba(54, 94, 220, 1) 32%, rgba(192, 57, 43, 0) 100%)
}

#slide1:after {
    right: 0;
    background: linear-gradient(270deg, rgba(54, 94, 220, 1) 32%, rgba(192, 57, 43, 0) 100%)
}

#slide1 .center h5 {
    font-size: 22px;
    opacity: 1
}

#slide1 .owl-dots {
    display: none !important
}

#slide1 {
    color: #fff;
    font-size: 1em;
    margin: 45px auto;
    position: relative
}

#slide1 .owl-stage {
    align-items: flex-start
}

#slide2 {
    max-width: 1500px;
    margin: auto
}

.project__title h5 {
    text-align: center;
    font: 400 16px Roboto;
    opacity: .7
}

#slide2 {
    text-align: center
}




.projects__items>button,
.numbers__wrapper .owl-prev,
.numbers__wrapper .owl-next
{
    position: absolute;
    border-radius: 4px;
    top: 50%;
    z-index: 9999;
    transform: translateY(-50%);
    border: 1px solid #3333331a;
    background-color: #fff;
    line-height: 0;
    transition: all .3s ease-in-out
}

#slide2 .owl-stage-outer {
    overflow: inherit
}

.projects__items>button:first-of-type,
.numbers__wrapper .owl-prev{
    left: -60px
}

.projects__items>button:last-of-type,
.numbers__wrapper .owl-next {
    right: -60px
}

.projects__items>button:hover,
.numbers__wrapper .owl-prev:hover,
.numbers__wrapper .owl-next:hover {
    background-color: #bebebe;
    transform: translateY(-60%)
}

#slide2 .project__title {
    height: 100%;
    padding: 0
}

.owl-stage {
    display: flex;
    align-items: center
}

.project1 {
    background: url(../img/project1.webp) center;
    background-repeat: no-repeat;
    background-size: cover
}

.project2 {
    background: url(../img/project2.webp) center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover
}

.project3 {
    background: url(../img/project3.webp) center;
    background-repeat: no-repeat;
    background-size: cover
}

.project4 {
    background: url(../img/project4.webp) center;
    background-repeat: no-repeat;
    background-size: cover
}

.project__desc {
    width: 50%;
    padding: 50px 0 60px 60px;
    color: #fff;
    text-align: left;
    background: linear-gradient(90deg, #2040a2 60%, rgba(192, 57, 43, 0) 100%)
}

.project__desc h2 {
    display: table;
    margin: 40px 0 15px;
    font: 700 32px Roboto;
    position: relative
}

.project__desc h2 img {
    max-width: 150px;
    position: absolute;
    bottom: 80%;
    left: 100%
}

.project__desc h3 {
    font-size: 1.1em
}

.project__desc p {
    font: 20px Roboto;
    width: 50%
}

.owl-carousel button.owl-dot,
.numbers__slider .owl-dot,
#slide2 .owl-dot {
    background-color: #fff;
    border-radius: 50%;
    padding: 4px !important;
    margin: 3px;
    opacity: .6;
    transition: all .3s ease-in-out;
    cursor: pointer
}

#slide2 .owl-dot.active {
    opacity: 1
}

.owl-carousel button.owl-dot.active{
    opacity: 1;
    transform: scale(1.5)
}

.owl-dots,
.numbers__wrapper .owl-dots {
    display: block
}

.municipal__section .services__items {
    gap: 30px;
    align-items: stretch
}

.municipal__section .s__item {
    padding: 48px 55px 52px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    flex-basis: calc(51% - 30px)
}

.municipal__section>div:first-child {
    margin: 0 0 65px
}

.numbers__slider {
    position: relative
}

.numbers__slider .owl-stage-outer {
    overflow: hidden
}


.numbers__slider {
    padding: 0
}

.phone__item {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: #fff;
    padding: 45px 35px 50px;
    height: 100%;
    border: 3px solid transparent;
    transition: all .5s ease-in-out;
    border-radius: 4px
}

.phone__item:hover {
    border-color: #e5e5e5
}

.phone__item p {
    color: #1b1b1b;
    margin: 20px 0 17px;
    font: 500 16px Montserrat
}

.numbers__slider .owl-dots {
    position: absolute;
    left: 50%;
    bottom: -48px;
    transform: translateX(-50%)
}

.numbers__slider .owl-dot {
    background-color: #bfc4d6;
    border: 0;
    opacity: 1
}

.numbers__slider .owl-dot.active {
    transition: all .3s ease-in-out;
    transform: scale(1.5);
    background-color: var(--blue)
}

.img__slider img {
    width: 100%;
}






.owl-dots {
    text-align: center
}

#slide2 .owl-dots {
    transform: translateY(34px)
}

.numbers__slider a {
    font: 600 18px Roboto
}

.numbers .owl-item {
    width: inherit !important
}

.numbers__slider .owl-stage {
    align-items: stretch
}




@media only screen and (max-width:1730px) {
    .container {
        max-width: 1290px
    }

   

    #mainLogo {
        margin: 0 0 0 18px
    }
}

@media only screen and (max-width:1550px) {
    .container {
        max-width: 1160px
    }

    .nav__right>ul {
        column-gap: 25px
    }
}

@media only screen and (max-width:1410px) {
    .intro__tools {
        top: 55%
    }
}

@media only screen and (max-width:1340px) {
    .slider__wrapper .prev__next:last-child {
        right: -40px
    }
}

@media only screen and (max-width:1300px) {
    .container {
        max-width: 1090px
    }

    #mainLogo {
        margin: 0 0 0 12px
    }

    .nav__right>ul {
        column-gap: 15px
    }
}

@media only screen and (max-width:1230px) {

    .prev__next,
    .owl-prev,
    .owl-next {
        width: 33px;
        height: 33px
    }

    .slider__wrapper .prev__next:last-child {
        right: -10px
    }

   

    .projects__items>button:last-of-type,
    .numbers__wrapper .owl-next {
        right: -40px
    }

    .projects__items>button:first-of-type,
    .numbers__wrapper .owl-prev,
    
    .slider__wrapper .prev__next:first-child {
        left: -40px
    }
}

@media only screen and (max-width:1170px) {
    .message__items .owl-stage-outer {
        overflow: hidden
    }


    .projects__items>button:last-of-type,
    .numbers__wrapper .owl-next {
        right: -5px
    }

    .projects__items>button:first-of-type,
    .numbers__wrapper .owl-prev{
        left: -5px
    }

    .slider__wrapper .prev__next:first-child {
        left: -25px
    }

    .intro__slider h1 {
        font-size: 50px
    }
}

@media only screen and (max-width:1140px) {
    .slider__wrapper .prev__next {
        transform: translate(0);
        top: initial;
        bottom: 0
    }

    .slider__wrapper .prev__next:last-child {
        right: 70px
    }

    .slider__wrapper .prev__next:first-child {
        left: initial;
        right: 120px
    }
}

@media only screen and (max-width:1000px) {
    .main__nav {
        flex-direction: column;
        align-items: center
    }

    .desc__burger {
        display: none
    }


    .info__header a,
    .info__header h5 {
        font-size: 10px
    }


    .info__right {
        column-gap: 25px
    }

    .right__services .services__desc {
        width: 70%
    }

    .services__sticker h4 {
        font-size: 11px
    }

    .right__services div .send__btn {
        padding: 18px 15px
    }

    .public__services .send__btn {
        font-size: .7rem;
        padding: 10px 15px
    }

    .services__desc p {
        font-size: 12px
    }

    .services__desc h3 {
        font-size: 20px
    }

    .message__items article {
        flex-direction: column
    }

    .message__desc {
        order: 2;
        margin: 22px 0 0
    }

    .project__desc {
        width: 70%
    }
}

@media only screen and (max-width:768px) {
    .info__header {
        flex-direction: column;
        align-items: start;
        row-gap: 20px
    }

    .public__services {
        flex-direction: column;
        row-gap: 24px
    }

    .left__services {
        justify-content: space-between
    }

    .news__items .owl-nav,
    .message__items .owl-nav {
        display: initial
    }

    .main__news,
    .message__items {
        position: relative
    }

    .news__items .owl-prev,
    .news__items .owl-next,
    .message__items .owl-next,
    .message__items .owl-prev {
        position: absolute
    }

    .main__news .owl-next,
    .main__news .owl-prev {
        top: 35%
    }

    .message__items .owl-next,
    .message__items .owl-prev {
        top: 50%
    }

    .projects__items>button:first-of-type,
    .numbers__wrapper .owl-prev,
    .news__items .owl-prev {
        left: 8px
    }

    .numbers__wrapper .owl-prev {
        left: -5px
    }

    .message__items .owl-prev {
        left: 0
    }

    .projects__items>button:last-of-type,
    .numbers__wrapper .owl-next,
    
    .news__items .owl-next {
        right: 8px
    }

    .numbers__wrapper .owl-next {
        right: -5px
    }

    .message__items .owl-next {
        right: 0
    }

    .services__items {
        column-gap: 24px
    }

    .s__item {
        flex-basis: calc(50% - 24px)
    }

    .s__item p {
        font-size: 16px
    }
}

@media only screen and (max-width:700px) {   

    .project__desc {
        width: 90%
    }

    .municipal__section .s__item {
        padding: 38px 30px 42px;
        flex-basis: calc(50% - 10px)
    }

    .municipal__section .services__items {
        gap: 20px
    }

    .item__icon {
        margin: 0 15px 0 0
    }
}

@media only screen and (max-width:550px) {
    .main__nav {
        padding: 0 15px
    }

    .municipal__section .s__item {
        padding: 38px 30px 42px;
        flex-basis: 100%
    }

    .info__right {
        flex-wrap: wrap;
        row-gap: 15px
    }
}