@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

:root {
    --gray: #333;
    --blue: #365edc
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    transition: all .3s ease-in-out
}
#header__wrapper.desc__burger__active {
    background-color: #33333354;
}
#page{
    min-height: 100vh;
    background: url(../../img/otherpagebg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
main{
    padding: 25px 0;
}
.main__section > .container{
    display: flex;
    gap: 31px;
}
h1{
    font: 700 42px Roboto;
    color: #fff;
    line-height: 57px;
}
.page__title {
    display: flex;
    flex-direction: column;
    margin: 0 auto 50px auto;
}
.bread__crumps a{
    color: #fff;
    font: 13px Montserrat;
    display: inherit;    
   
}
.bread__crumps li{
    max-width: inherit;
}

.bread__line{
    margin: 0;
    width: 15px;
    height: 1px;
    border: 0;
    background-color: #fff;
}

.main__section{
    position: relative;
    margin: 0 auto 90px auto;
}

.main__section .intro__tools {
    top: 19px;
    transform: translateY(0);
}
.side__menu{
    flex-basis: 350px;
}
.side__menu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.side__menu li{
    width: 100%;
}
.side__menu a{
    display: block;
    padding: 16px 23px;
    color: var(--gray);
    font: 15px Montserrat;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-bottom: 0;
}
.side__menu li:first-child a{
    border-radius: 4px 4px 0 0;
}
.side__menu li:last-child a{
    border-radius: 0 0 4px 4px;
    border-bottom: 1px solid #E5E5E5; 
}
.side__menu li a:hover{
    border-color: var(--blue);
    background-color: var(--blue);
    font-weight: 700;
    color: #fff !important;
}
.content{
    border-radius: 4px;
    flex: 1;
}
.content img{
    width: 100%;
}
.news__header{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.news__info{
    display: flex;
    font: 13px Montserrat;
    gap: 20px;
    line-height: 20px;
    align-items: center;

}
.source{
    padding: 2px 9px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}
.news__text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 46px 0;
}
.news__text h3{
    color: var(--gray);
    font: 500 18px Montserrat;
    line-height: 28px;
}
.news__text p{
    font: 15px Montserrat;
    line-height: 25px;
    color: #555;
}

.news__images{
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}
.news__images img{
    width: calc(25% - 24px);
}

.news__video{
    border-radius: 4px;
    overflow: hidden;
    margin: 29px 0 24px 0;
}
.documents{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.document{
    display: flex;
    justify-content: space-between;
    padding: 31px 35px 30px 29px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    margin: 0 0 22px 0;
}
.document img{
    width: auto;
}
.left__info{
    display: flex;
    gap: 18px;
    align-items: center;
}
.document button{
    border: 0;
    background-color: #fff;
    cursor: pointer;
}
.document h4{
    color: var(--gray);
    font: 15px Roboto;
    line-height: 22px; 
    margin-bottom: 2px;
}
.document p{
    font: 12px Montserrat;
    color: #999;
    line-height: 20px;
}
.doc__desc > div{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.back__to__list a{
    display: flex;
    align-items: center;
    gap: 13px;
    color: var(--gray);
    font: 13px Montserrat;
    line-height: 21px;
}
.back__to__list svg{
    transform: rotate(180deg);
}

.myDocuments{
    margin: 50px 0 0 0;
}
.myDocuments a{
    padding: 0;
    border: 0;
}


/*-------Project-----*/
.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 26px 25px;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 445px;
    flex-basis: calc(33.33% - 17px);
    color: #fff;
    overflow: hidden;
    border-radius: 4px;
}
.project__desc{
    padding: 29px 30px 24px 29px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(54,94,208,1) 100%);
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}
.project__desc h4 a{
    font:  16px Roboto;
    line-height: 23px;
    color: #fff;
}
.project__data{
    font: 13px Montserrat;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.project__text{
    font: 15px Montserrat;
    line-height: 25px;
    max-height: 0;
    transition: all .5s ease-in-out;
    overflow: hidden;
}
.project:hover .project__text{
    max-height: 300px;
    margin: 12px 0 0 0;
}

.project:hover .project__desc{
    
    background-color: #365EDC99;
}
/*------Project-END*/


.show__more{
    padding: 18px 27px;
    color: var(--blue);
    line-height: 20px;
    font: 16px Montserrat;
    margin: 50px auto  0 auto;
    display: table;
    border-radius: 4px;
    border: 1px solid var(--blue);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.show__more:hover{
    box-shadow: 0 0 10px var(--blue);
}

/*Gap*/
.bread__crumps, .page__title{
    gap: 10px;
}


/*Gap-END*/





/*Media*/
@media only screen and (max-width:1730px) {
    .container {
        max-width: 1290px
    }
}
@media only screen and (max-width:1300px) {
    .container {
        max-width: 1090px
    }
    .project{
        flex-basis: calc(50% - 17px);
    }
}


@media only screen and (max-width:1000px) {
   .bread__crumps a, h1{
        color: #333;
    }
    .bread__line {
        background-color: #333;
        width: 10px;
    }
    .project{
        flex-basis: calc(100% - 65px);
    }
}
@media only screen and (max-width:840px) {
    .bread__crumps a, h1{
         color: #333;
         line-height: normal;
    }   
 }
 @media only screen and (max-width:680px) {
    .main__section > .container{
        flex-direction: column;
        gap: 24px;
    }

 }
 @media only screen and (max-width:480px) {
   .news__desc{
        gap: 27px;
        padding: 0 16px 18px 19px;
    }
    
    #page{
        background: #fff;
        min-height: initial;
    }
   
    .bread__crumps a{
        font-size: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
       
    }
    .bread__crumps li:last-of-type a{
        width: 30px;
    }
    .page__title {
        flex-direction: column-reverse;
        gap: 24px;
        margin-bottom: 24px;
    }
    h1 {
        font-size: 24px;
    }
    .side__menu{
        display: none;
    }
    .news__header{
        flex-direction: column-reverse;
    }
    .news__info{
        gap: 10px;
        font-size: 12px;
    }
    .news__text{
        margin: 24px 0 24px 0;
        gap: 12px;
    }
    .news__images img{
        width: calc(50% - 14px);
    }
    .download__btn{
        display: none;
    }
    .doc__desc > div{
        flex-direction: column;
        gap: 5px;
    }
    .document{
        padding: 19px 20px 18px 19px;
    }
    .main__section{
        margin: 0 0 69px 0;
    }
    
 }


/*Media-END*/