@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

:root {
    --gray: #333;
    --blue: #365edc
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    transition: all .3s ease-in-out
}
#header__wrapper.desc__burger__active {
    background-color: #33333354;
}
#page{
    min-height: 100vh;
    background: url(../../img/otherpagebg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
main{
    padding: 25px 0;
}