<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inform Slider</title>
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="../../dist/assets/owl.theme.default.css">
</head>
<body>
   <div id="content">
    <div class="container">
        <h2>Информационные ресурсы </h2>
    </div>

    <div class="inform__wrapper">
        <div class="inform__slider container">
            
            <div class="img__slider">
                <a href="#"><img  width="100%" height="122" data-src="../../img/slider-placeholder.webp"  loading="lazy" src="../../img/info-slide1.webp" alt=""></a>
            </div>

            <div class="img__slider">
                <a href="#"><img  width="100%" height="122" data-src="../../img/slider-placeholder.webp"  loading="lazy" src="../../img/info-slide2.webp" alt=""></a>
            </div>

            <div class="img__slider">
                <a href="#"><img  width="100%" height="122" data-src="../../img/slider-placeholder.webp"  loading="lazy" src="../../img/info-slide3.webp" alt=""></a>
            </div>

            <div class="img__slider">
               <a href="#"> <img  width="100%" height="122" data-src="../../img/slider-placeholder.webp"  loading="lazy" src="../../img/info-slide4.webp" alt=""></a>
            </div>
            <div class="img__slider">
                <a href="#"> <img  width="100%" height="122" data-src="../../img/slider-placeholder.webp"  loading="lazy" src="../../img/info-slide4.webp" alt=""></a> 
             </div>
        </div>
    </div>
   </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="../../scripts/main.js" defer></script>

      <script src="scripts/main.js" defer></script>

    <script src="../../dist/owl.carousel.min.js" defer></script>
</body>
</html>