@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

:root {
    --gray: #333;
    --blue: #365edc
}


.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    transition: all .3s ease-in-out
}
.inform__slider .owl-stage-outer {
    padding: 12px;
}
.owl-stage {
    display: flex;
    align-items: center
}
.inform__slider .owl-stage {
    align-items: stretch;
}
.img__slider img {
    width: 100%;
    height: auto;
}
 h2 {
    font: 700 40px Roboto;
    color: #333;
}


.inform__slider .owl-item {
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    background: #fff;
    justify-content: center;
    padding: 10px;
    transition: all .5s ease-in-out;
}
