
#inform__resources {
    margin-bottom: 0;
    padding: 0 0 124px
}
.inform__slider {
    position: relative;
    padding: 0;
}

.inform__slider .owl-stage-outer {
    overflow: hidden;
}

.owl-stage,
.inform__slider .owl-item {
    display: flex;
    align-items: center
}

.inform__slider .owl-item:hover{
    box-shadow: inset 0 0 10px var(--gray);
}

.img__slider img {
    width: 100%;
    height: auto;
}

#inform__resources h2 {
    font: 700 40px Roboto;
    color: #333;
}


.inform__slider .owl-item {
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    background: #fff;
    justify-content: center;
    padding: 10px;
    transition: all .5s ease-in-out;
}
.inform__slider .owl-stage{
    align-items: stretch !important;
} 

.inform__wrapper .owl-prev,
.inform__wrapper .owl-next {
    position: absolute;
    border-radius: 4px;
    top: 50%;
    z-index: 9999;
    transform: translateY(-50%);
    border: 1px solid #3333331a;
    background-color: #fff;
    line-height: 0;
    transition: all .3s ease-in-out;
}

.owl-prev,
.owl-next {
    outline: 0;
    background: rgba(0, 0, 0, .4);
    border: 0;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.inform__wrapper .owl-prev {
    left: -60px;
}

.inform__wrapper .owl-next {
    right: -60px;
}

.owl-nav span {
    color: #333;
    font-size: 2em;
    line-height: .5;
}

.inform__slider .owl-dots {
    position: absolute;
    left: 50%;
    bottom: -48px;
    transform: translateX(-50%);
}

.inform__slider .owl-dot.active {
    transition: all .3s ease-in-out;
    transform: scale(1.5);
    background-color: var(--blue);
}


.inform__slider .owl-dot {
    background-color: #bfc4d6;
    border-radius: 50%;
    padding: 4px !important;
    margin: 3px;
    opacity: .6;
    transition: all .3s ease-in-out;
    cursor: pointer;
    border: 0;
    opacity: 1;
}


/*Media*/

@media only screen and (max-width:1730px) {
    .container {
        max-width: 1290px;
    }
}

@media only screen and (max-width:1550px) {
    .container {
        max-width: 1160px;
    }
}

@media only screen and (max-width: 1260px){
    .inform__wrapper .owl-prev {
        left: -40px;
    }
    .inform__wrapper .owl-next{
        right: -40px;
    }
    .owl-prev, .owl-next {
        width: 33px;
        height: 33px;
    }
}

@media only screen and (max-width: 1170px){
    .inform__wrapper .owl-prev {
        left: -5px;
    }
    .inform__wrapper .owl-next{
        right: -5px;
    }
}

@media only screen and (max-width: 768px){
   
    .inform__wrapper .owl-prev {
        left: 8px;
    }
    .inform__wrapper .owl-next{
        right: 8px;
    }
   
    .container {
        padding: 0 24px;
    }
    #inform__resources h2 {
        font-size: 24px;
    }

}

@media only screen and (max-width: 480px){
    .inform__wrapper .owl-dots {
        display: none;
    }

}

/*-------*/

/* *{border: 1px solid #000 !important;} */