
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');
body{
    height: 100vh;
    background-color: #2a2f37;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    transition: all .3s ease-in-out;
}

ul,.info__header, .info__left, .info__right, .soc__icons, .info__phone, .lang__tool, .visually__tools, .main__nav, .nav__left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mobile__burger, .back__menu{
    display: none;
}

.top__header {
    padding: 10px 0;
    background: rgba(0, 0, 0, .2);
    margin: 0 0 22px;
    width: 100%;
}
.top__header ul{
    column-gap: 45px;
}
.info__left, .top__header a, .info__header a {
    color: #fff;
    font: 400 12px Montserrat;
    align-items: flex-start;
}

.info__header, .slider__title {
    justify-content: space-between;
}
.info__left, .info__phone, .lang__tool, .visually__tools {
    column-gap: 11px;
}
.info__right {
    column-gap: 50px;
}
.soc__icons{
    column-gap: 21px;
}

.lang__select {
    background-color: transparent;
    border: 0;
    color: #fff;
    outline: 0;
    cursor: pointer;
    font: 400 12px Montserrat;
}
.lang__select option {
    color: #000;
}

.main__nav {
    background-color: #fff;
    border-radius: 5px;
    margin: 12px 0 0;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 32px;
}

.desc__burger button, .mobile__burger button {
    background: 0 0;
    cursor: pointer;
    border: 0;
    transition: all .3s ease-in-out;
}
.desc__burger span, .mobile__burger span {
    display: table;
    padding: 1px 6px;
    background-color: #333;
    border-radius: 4px;
    margin: 3px 0;
}
.desc__burger span:last-child, .mobile__burger span:last-child {
    padding: 1px 5px;
}
.desc__burger button:hover, .mobile__burger button:hover {
    transform: translateY(-3px);
    opacity: .9;
}
