<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="activity">
        <div class="activiti__background"></div>
        <div class="desc">
            <p class="source">
                
            </p>
            <p class="data">
              
            </p>
            <h3><a href="">
               
            </a></h3>
            <p class="text">
                
            </p>
        </div>
    </div>
</body>
</html>