<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="activity">
        <div class="activiti__background"></div>
        <div class="desc">
            <p class="source">
                Раздел
            </p>
            <p class="data">
                1 марта 2023
            </p>
            <h3><a href="">
                Длинный заголовок в несколько строк
            </a></h3>
            <p class="text">
                Текст зафиксированная на каком-либо  носителе человеческая мысль в общем плане связная и полная последовательность символов.
            </p>
        </div>
    </div>
</body>
</html>