<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПРЕСС-ЦЕНТР - "Новости"</title>
</head>
<body>
    <!-- <div class="content"> -->
        <!-- <div class="news__wrapper"> -->
            <div class="news__item">
                <img src="" data-src="" alt="">
                <div class="news__desc">
                    <div>
                        <p class="news__source">
                            Новости ЖКХ
                        </p>
                        <h3>
                            <a href="">
                                Длинный заголовок в несколько строк
                            </a>
                        </h3>
                        <p class="news__text">
                            Текст зафиксированная на каком-либо  носителе человеческая мысль в общем плане связная и полная последовательность символов.
                        </p>
                    </div>
                    <p class="data">
                        14 февраля 2023
                    </p>
                </div>
            </div>
        <!-- </div> -->
    <!-- </div> -->
</body>
</html>