<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="photoGallery">
       <div>
        <div class="source"></div>
        <h3><a href=""></a></h3>
        <p>Дата публикации: <span class="data"></span></p>
       </div>

        <button class="open__photo">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
                <path d="M2.625 11H18.375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.75 8.25L18.375 11L15.75 13.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
        </button>
    </div>
</body>
</html>