body{
    background: #a73c3c;
    height: 100vh;
    position: relative;
}




.intro__tools {
    position: absolute;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
    background-color: #fff;
    transition: all .3s ease-in-out;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    z-index: 999;
    padding: 14px 12px;
}
.tool__icon a {
    display: block;
    background-color: #fff;
    padding: 14px 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}