body{
    background: #a73c3c;
    height: 100vh;
    position: relative;
}


.intro__tools{
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all .5s ease-in-out;
}
.intro__tools:hover{
    box-shadow: inset 0 0 10px #333;
}

.intro__tools {
    position: absolute;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
    background-color: #fff;
    transition: all .3s ease-in-out;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    z-index: 999;
    padding: 14px 12px;
}
.tool__icon a {
    display: block;
    background-color: #fff;
    padding: 14px 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 10px;
    transition: all .3s ease-in-out;

}
.tool__icon a:hover{
    box-shadow: 0 0 10px #333;
}

@media only screen and (max-width: 1410px)
{
    .intro__tools {
        top: 55%;
    }
}

@media only screen and (max-width: 480px)
{
    .intro__tools{
        display: none;
    }
}