@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

:root {
    --gray: #333;
    --blue: #365edc
}
/* *{
    border: 1px solid #000 !important;
} */
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    transition: all .3s ease-in-out
}

.bread__crumps,.page__title,
.side__menu ul,
.menu,
.main__header ul,
.main__header a{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#page{
    min-height: 100vh;
    background: url(../../img/otherpagebg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
main{
    position: relative;
    padding: 25px 0;
}

h1{
    font: 700 42px Roboto;
    color: #fff;
    line-height: 57px;
}

.page__title{
    margin: 0 auto 58px auto;
    flex-direction: column;
    align-items: start;
}
main .intro__tools{
    top: 178px;
    transform: translateY(0);
}

.bread__crumps a{
    color: #fff;
    font: 13px Montserrat;
}
.bread__line{
    margin: 0;
    width: 15px;
    height: 1px;
    border: 0;
    background-color: #fff;
}
.menu{
    align-items: start;
}
.main__content{
    flex: 1;
}
.side__menu{
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #E5E5E5;
}
.side__menu ul{
    flex-direction: column;
    align-items: start;
   
    background-color: #fff;
}
.side__menu a{
    display: block;
    font: 15px Montserrat;
    line-height: 24px;
    color: var(--gray);
    padding: 16px 23px;
    /* border-bottom: 1px solid ; */
}

.main__header ul{
    align-items: center;
    justify-content: space-between;
}


/*Gap*/
.bread__crumps, .page__title{
    gap: 10px;
}
.menu{
    gap: 33px;
}
.main__header ul{
    gap: 28px 27px;
}

/*Gap-END*/
 
/*Media*/
@media only screen and (max-width:1730px) {
    .container {
        max-width: 1290px
    }
}

@media only screen and (max-width:1550px) {
    .container {
        max-width: 1160px
    }
}

@media only screen and (max-width:1300px) {
    .container {
        max-width: 1090px
    }
}

/*Media-END*/