@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

:root {
    --gray: #333;
    --blue: #365edc
}
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    transition: all .3s ease-in-out
}

.bread__crumps{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#page{
    min-height: 100vh;
    background: url(../../img/otherpagebg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
main{
    position: relative;
    padding: 25px 0;
}

h1{
    font: 700 42px Roboto;
    color: #fff;
    line-height: 57px;
}

.page__title{
    margin: 0 auto 58px auto;
}
main .intro__tools{
    top: 178px;
    transform: translateY(0);
}
.bread__crumps{
    gap: 10px;
}
.bread__crumps a{
    color: #fff;
    font: 13px Montserrat;
}
.bread__line{
    margin: 0;
    width: 15px;
    height: 1px;
    border-color: #fff;
}

 
/*Media*/
@media only screen and (max-width:1730px) {
    .container {
        max-width: 1290px
    }
}

@media only screen and (max-width:1550px) {
    .container {
        max-width: 1160px
    }
}

@media only screen and (max-width:1300px) {
    .container {
        max-width: 1090px
    }
}