#page{
    background: #fff;
}
main{
    padding: 10px 0;
}
.page__title{
    margin-bottom: 24px;
}
h1{
    font-size: 24px;
}
.bread__crumps a{
    font-size: 10px;
}


h1{
    order: 1;
}

.main__menu li{
    flex-basis: 100%;
}
.container{
    padding: 0 24px;
}

.main__menu button{
    gap: 28px;
    padding: 39px 36px;
}
.aboutInform{
    padding: 0;
}

/*Gap*/
.page__title{
    gap: 24px;
}

.bread__crumps{
    gap: 9px;
}
/*----Gap-END*/