#page{
    background: #fff;
    min-height: initial;
}
main{
    padding: 10px 0 0 0 ;
}
.menu{
    margin-bottom: 43px;
}
.page__title{
    margin-bottom: 24px;
}
h1{
    font-size: 24px;
}
.visits h2{
    font-size: 26px;
}
.bread__crumps a{
    font-size: 10px;
}


h1{
    order: 1;
}
.bread__crumps a{
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   
}
.bread__crumps li{
    max-width: 120px;
}

.side__tools{
    max-width: 100%;
}

h3{
    margin: 13px 0 10px 0;
}
.services > li > p{
    padding-right: 9px;
}
.search__service{
    width: 100%;
}
.document__content ol{
    margin: 0 21px;
}


/*Gap*/
.page__title{
    gap: 24px;
}
/*----Gap-END*/