<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="employeesOrganization ">
                            <div class="personal">
                                <div class="organization__text">
                                    <h3>
                                        Руководители
                                    </h3>
                                    <p>
                                        Текст — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов. Существуют две основные трактовки понятия «текст»: имманентная и репрезентативная. Текст зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность 
                                    </p>
                                </div>

                              <div class="persons">
                                <div class="person">
                                    <img src="img/personal/mainPersonal/person1.png" alt="">
                                    <div class="person__desc">
                                        <p class="person__position">
                                            Руководитель
                                        </p>
                                        <h4 class="person__name">
                                            Милош Крестович
                                        </h4>
                                        <div class="person__contact">
                                            <div>
                                                <p>Телефон</p>
                                                <a href="tel:+70000000000">+7 (000) 000-00-00</a>
                                            </div>
                                            <div>
                                                <p>E-mail</p>
                                                <a href="mailto:commerce@site.ru">commerce@site.ru</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="person">
                                    <img src="img/personal/mainPersonal/person2.png" alt="">
                                    <div class="person__desc">
                                        <p class="person__position">
                                            Руководитель
                                        </p>
                                        <h4 class="person__name">
                                            Милош Крестович
                                        </h4>
                                        <div class="person__contact">
                                            <div>
                                                <p>Телефон</p>
                                                <a href="tel:+70000000000">+7 (000) 000-00-00</a>
                                            </div>
                                            <div>
                                                <p>E-mail</p>
                                                <a href="mailto:commerce@site.ru">commerce@site.ru</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="person">
                                    <img src="img/personal/mainPersonal/person3.png" alt="">
                                    <div class="person__desc">
                                        <p class="person__position">
                                            Руководитель
                                        </p>
                                        <h4 class="person__name">
                                            Милош Крестович
                                        </h4>
                                        <div class="person__contact">
                                            <div>
                                                <p>Телефон</p>
                                                <a href="tel:+70000000000">+7 (000) 000-00-00</a>
                                            </div>
                                            <div>
                                                <p>E-mail</p>
                                                <a href="mailto:commerce@site.ru">commerce@site.ru</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="person">
                                    <img src="img/personal/mainPersonal/person4.png" alt="">
                                    <div class="person__desc">
                                        <p class="person__position">
                                            Руководитель
                                        </p>
                                        <h4 class="person__name">
                                            Милош Крестович
                                        </h4>
                                        <div class="person__contact">
                                            <div>
                                                <p>Телефон</p>
                                                <a href="tel:+70000000000">+7 (000) 000-00-00</a>
                                            </div>
                                            <div>
                                                <p>E-mail</p>
                                                <a href="mailto:commerce@site.ru">commerce@site.ru</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                              </div>
                            </div>

                            <div class="personal">
                                <div class="organization__text">
                                    <h3>
                                        Руководители
                                    </h3>
                                    <p>
                                        Текст — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов. Существуют две основные трактовки понятия «текст»: имманентная и репрезентативная. Текст зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность 
                                    </p>
                                </div>

                              <div class="persons">
                                <div class="person">
                                    <img src="img/personal/mainPersonal/person1.png" alt="">
                                    <div class="person__desc">
                                        <p class="person__position">
                                            Руководитель
                                        </p>
                                        <h4 class="person__name">
                                            Милош Крестович
                                        </h4>
                                        <div class="person__contact">
                                            <div>
                                                <p>Телефон</p>
                                                <a href="tel:+70000000000">+7 (000) 000-00-00</a>
                                            </div>
                                            <div>
                                                <p>E-mail</p>
                                                <a href="mailto:commerce@site.ru">commerce@site.ru</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="person">
                                    <img src="img/personal/mainPersonal/person2.png" alt="">
                                    <div class="person__desc">
                                        <p class="person__position">
                                            Руководитель
                                        </p>
                                        <h4 class="person__name">
                                            Милош Крестович
                                        </h4>
                                        <div class="person__contact">
                                            <div>
                                                <p>Телефон</p>
                                                <a href="tel:+70000000000">+7 (000) 000-00-00</a>
                                            </div>
                                            <div>
                                                <p>E-mail</p>
                                                <a href="mailto:commerce@site.ru">commerce@site.ru</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="person">
                                    <img src="img/personal/mainPersonal/person3.png" alt="">
                                    <div class="person__desc">
                                        <p class="person__position">
                                            Руководитель
                                        </p>
                                        <h4 class="person__name">
                                            Милош Крестович
                                        </h4>
                                        <div class="person__contact">
                                            <div>
                                                <p>Телефон</p>
                                                <a href="tel:+70000000000">+7 (000) 000-00-00</a>
                                            </div>
                                            <div>
                                                <p>E-mail</p>
                                                <a href="mailto:commerce@site.ru">commerce@site.ru</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="person">
                                    <img src="img/personal/mainPersonal/person4.png" alt="">
                                    <div class="person__desc">
                                        <p class="person__position">
                                            Руководитель
                                        </p>
                                        <h4 class="person__name">
                                            Милош Крестович
                                        </h4>
                                        <div class="person__contact">
                                            <div>
                                                <p>Телефон</p>
                                                <a href="tel:+70000000000">+7 (000) 000-00-00</a>
                                            </div>
                                            <div>
                                                <p>E-mail</p>
                                                <a href="mailto:commerce@site.ru">commerce@site.ru</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                              </div>
                            </div>
                        </div>
</body>
</html>