<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="headOrganization">
                            <div class="ceo__desc">
                                <div class="ceo__position">
                                    <h6>
                                        Должность
                                    </h6>
                                    <h4>
                                        Руководитель
                                    </h4>
                                </div>

                                <div class="person__contact">
                                    <div>
                                        <p>Телефон</p>
                                        <a href="tel:+70000000000">+7 (000) 000-00-00</a>
                                    </div>
                                    <div>
                                        <p>E-mail</p>
                                        <a href="mailto:commerce@site.ru">commerce@site.ru</a>
                                    </div>
                                </div>

                                <div class="text">
                                    <p>
                                        Павел – наш бессменный руководитель, которому мы обязаны таким стремительным развитием компании.
                                    </p>
                                    <p>
                                        На протяжении всех 9 лет он заботился о комфорте сотрудников и не забывал ответственно относится к нашим проектам, что делает его не просто руководителем, а наставником и помощником.
                                    </p>
                                    <p>
                                        Павел постоянно выступает на всех ритейл-конференциях, разъезжает с семинарами по нашим филиалам и проводит тренинги по обучению персонала. Организовывает постоянное обучение коллектива, поэтому наши сотрудники всегда в курсе последних тенденций бизнеса. Уважение к людям и решительность в действиях считает причинами успеха.
                                    </p>
                                </div>
                            </div>

                            <div class="ceo__img">
                                <img src="img/ceo.png" alt="">
                            </div>
                        </div>
</body>
</html>