<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <title>Законодательная карта
    </title>
</head>
<body>
    <div class="content">
        <div class="legislativeMap">
            <div class="legislativeMap__text">
                <p>
                    Информация о деятельности государственных органов и органов местного самоуправления, размещаемая в сети Интернет. Согласно федеральному закону Российской Федерации от 9 февраля 2009 г. N 8-ФЗ "Об обеспечении доступа к информации о деятельности государственных органов и органов местного самоуправления", вступающего в силу с 1 января 2010 года.
                </p>
            </div>
            <div class="articles">

               статья
            </div>
            
        </div>
    </div>
</body>
</html>