<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <title>Статическая информация
    </title>
</head>
<body>
    <div class="content">
        <div class="globalCollab">
            <div class="globalCollab__text">
                <p>
                    Статистические данные и показатели, характеризующие состояние и динамику развития экономической, социальной и иных сфер жизнедеятельности, регулирование которых отнесено к полномочиям государственного органа, органа местного самоуправления.
                </p>
            </div>
            <div class="globalCollab__documents">

                <div class="documents__item">
                    <div class="document__desc">
                        <img width="38" height="40"  src="img/pdf-icon.png" alt="">
                        <div class="document__info">
                            <h5>
                                Заголовок документа
                            </h5>
                            <div class="document__data__size">
                                <p class="document__data">
                                    Дата публикации 26.09.2023
                                </p>
                                <p class="document__size">
                                    Размер:
                                    <span>32,2 Кб</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <button class="document__download">
                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="16" viewBox="0 0 11 16" fill="none">
                            <g clip-path="url(#clip0_239_5622)">
                              <path d="M6.41669 1C6.41669 0.447715 6.00628 0 5.50002 0C4.99376 0 4.58335 0.447715 4.58335 1V8.58579L2.48154 6.29289C2.12355 5.90237 1.54316 5.90237 1.18517 6.29289C0.827193 6.68342 0.827193 7.31658 1.18517 7.70711L4.85184 11.7071C5.20982 12.0976 5.79022 12.0976 6.14821 11.7071L9.81486 7.70711C10.1728 7.31658 10.1728 6.68342 9.81486 6.29289C9.4569 5.90237 8.87649 5.90237 8.5185 6.29289L6.41669 8.58579V1Z" fill="#B8B8B8"/>
                              <path d="M0.916667 14C0.410405 14 0 14.4477 0 15C0 15.5523 0.410405 16 0.916667 16H10.0833C10.5896 16 11 15.5523 11 15C11 14.4477 10.5896 14 10.0833 14H0.916667Z" fill="#B8B8B8"/>
                            </g>
                            <defs>
                              <clipPath id="clip0_239_5622">
                                <rect width="11" height="16" fill="white"/>
                              </clipPath>
                            </defs>
                          </svg>
                    </button>
                </div>
                <div class="documents__item">
                    <div class="document__desc">
                        <img width="38" height="40"  src="img/doc-icon.png" alt="">
                        <div class="document__info">
                            <h5>
                                Заголовок документа
                            </h5>
                            <div class="document__data__size">
                                <p class="document__data">
                                    Дата публикации 26.09.2023
                                </p>
                                <p class="document__size">
                                    Размер:
                                    <span>32,2 Кб</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <button class="document__download">
                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="16" viewBox="0 0 11 16" fill="none">
                            <g clip-path="url(#clip0_239_5622)">
                              <path d="M6.41669 1C6.41669 0.447715 6.00628 0 5.50002 0C4.99376 0 4.58335 0.447715 4.58335 1V8.58579L2.48154 6.29289C2.12355 5.90237 1.54316 5.90237 1.18517 6.29289C0.827193 6.68342 0.827193 7.31658 1.18517 7.70711L4.85184 11.7071C5.20982 12.0976 5.79022 12.0976 6.14821 11.7071L9.81486 7.70711C10.1728 7.31658 10.1728 6.68342 9.81486 6.29289C9.4569 5.90237 8.87649 5.90237 8.5185 6.29289L6.41669 8.58579V1Z" fill="#B8B8B8"/>
                              <path d="M0.916667 14C0.410405 14 0 14.4477 0 15C0 15.5523 0.410405 16 0.916667 16H10.0833C10.5896 16 11 15.5523 11 15C11 14.4477 10.5896 14 10.0833 14H0.916667Z" fill="#B8B8B8"/>
                            </g>
                            <defs>
                              <clipPath id="clip0_239_5622">
                                <rect width="11" height="16" fill="white"/>
                              </clipPath>
                            </defs>
                          </svg>
                    </button>
                </div>
                
            </div>
            
        </div>
    </div>
</body>
</html>