<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="searchDocuments document">
        <div>
            <img src="img/pdf-icon.png" alt="">
            <div class="document__desc">

                <div>
                    <div>
                        <h5>
                            Лицензия на деятельность по защите информации
                        </h5>
                        <div class="data__size">
                            <p>
                                Дата публикации <span class="data">26.09.2023</span>
                            </p>
                            <p>
                                Размер: <span class="size">32,2</span>Кб
                            </p>
                        </div>
                    </div>

                    <div class="download__btn">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="16" viewBox="0 0 11 16"
                                fill="none">
                                <g clip-path="url(#clip0_259_11257)">
                                    <path
                                        d="M6.41675 1C6.41675 0.447715 6.00634 0 5.50008 0C4.99383 0 4.58342 0.447715 4.58342 1V8.58579L2.4816 6.29289C2.12361 5.90237 1.54322 5.90237 1.18523 6.29289C0.827254 6.68342 0.827254 7.31658 1.18523 7.70711L4.8519 11.7071C5.20988 12.0976 5.79028 12.0976 6.14827 11.7071L9.81492 7.70711C10.1729 7.31658 10.1729 6.68342 9.81492 6.29289C9.45697 5.90237 8.87655 5.90237 8.51856 6.29289L6.41675 8.58579V1Z"
                                        fill="#B8B8B8" />
                                    <path
                                        d="M0.916667 14C0.410405 14 0 14.4477 0 15C0 15.5523 0.410405 16 0.916667 16H10.0833C10.5896 16 11 15.5523 11 15C11 14.4477 10.5896 14 10.0833 14H0.916667Z"
                                        fill="#B8B8B8" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_259_11257">
                                        <rect width="11" height="16" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                    </div>

                </div>

                <p>
                    Сертификат соответствия Госстроя, выдается на продукцию, используемую в строительстве, и подтверждающий, что продукция соответствует требованиям основных нормативно-технических документов, установленных для данной продукции при сертификации продукции в строительстве.
                </p>
                
            </div>

           
        </div>

        
    </div>
</body>
</html>