

footer section, footer li,
.logo__name,
.footer__soc ul,
.footer__logo,
.copyright,
.left__copy,
.right__copy{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer {
    background-color: #333;
    padding: 0 0 50px
}
.footer__nav{
    padding-top: 55px;
}
.mailing{
    display: flex;
    justify-content: center;
    background: #2D2D2D;
    padding: 57px 0 56px 0;
}
.mailing > div, .text, form{
    display: flex;
    align-items: center;
}
form{
    align-items: stretch;
}
.text{
    gap: 23px;
}
.text h6{
    color: #fff;
    font:600 16px Montserrat;
    line-height: 22px;
}
.mailing input{
    padding: 14px 0 12px 15px;
    background-color: transparent;
    border: 1px solid #ffffff26;
    border-radius: 4px 0 0 4px ;
    border-right: 0;
    outline: 0;
}

footer section, footer li {
    justify-content: space-between;
    align-items: flex-start;
}

footer .logo__name h4 {
    color: #fff;
    font: 400 14px Montserrat;
    line-height: 19px;
    letter-spacing: 0.96px;
}

footer section ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer section ul li:first-child {
    margin: 0 0 20px;
}
footer section ul li {
    margin: 0 0 8px;
}
.footer__info li {
    margin: 0 0 20px 0;
    align-items: flex-end;
    column-gap: 17px;
}

footer section li a, .footer__logo p, .footer__text, .copyright a {
    color: #999;
}
footer section li:first-of-type a, .footer__info a, .footer__info p {
    color: #fff;
}
footer section li:first-of-type a {
    font-size: 15px;
}
footer section li a, .footer__logo p {
    font-size: 13px;
    line-height: 20px;
}
li a, .info__header, .info__header a {
    color: #fff;
    font: 600 12px Montserrat;
}
.footer__info li p {
    font-size: 14px;
}
.footer__info li{
    align-items: center;
}
.footer__icon{
    width: 10px;
    text-align: center;
}

.footer__soc a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    background: #474747;
}
.footer__soc li {
    border-radius: 4px;
    overflow: hidden;
}
.footer__soc ul li {
    margin: 0 !important;
}
.footer__info .footer__soc {
    margin: 0 0 28px;
}

.footer__soc li path,
.footer__soc li {
    transition: all .5s ease-in-out
}

.footer__soc li:nth-of-type(1):hover path {
    fill: #0077fe
}

.footer__soc li:nth-of-type(2):hover path {
    fill: #f70
}

.footer__soc li:nth-of-type(3):hover path {
    fill: #1c93e3
}

.footer__soc li:nth-of-type(4):hover path {
    fill: #ff0100
}

.footer__soc li:nth-of-type(1):hover {
    box-shadow: 0 0 10px #0077fe
}

.footer__soc li:nth-of-type(2):hover {
    box-shadow: 0 0 10px #f70
}

.footer__soc li:nth-of-type(3):hover {
    box-shadow: 0 0 10px #1c93e3
}

.footer__soc li:nth-of-type(4):hover {
    box-shadow: 0 0 10px #ff0100
}

.footer__text {
    width: 60%;
    font-size: 12px;
    line-height: 20px;
}

.copyright {
    justify-content: space-between;
    margin: 100px 0 0;
    font-size: .7em;
    color: #999;
}
.made__site a {
    color: #fff;
}



/*GAP*/
.logo__name, .footer__soc ul{
    gap: 10px;
}
.footer__logo{
    flex-direction: column;
    row-gap: 32px;
}
.left__copy {
    column-gap: 58px;
}
.right__copy{
    column-gap: 40px;
}

/*----------*/



/*Media*/

@media only screen and (max-width: 1000px){
    .copyright, footer section {
        flex-wrap: wrap;
        gap: 24px;
    }
    .left__copy {
        width: 100%;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 480px) {
    footer{
       padding-bottom: 24px;

    }
    .footer__logo p,
footer .lang{
    display: none;
}
    
    
    .left__copy p {
        margin: 4px 0
    }
    
    .right__copy div {
        margin: 6px 0
    }
    
    .left__copy p:nth-child(1) {
        order: 3;
        margin: 24px 0 0
    }
    
    .left__copy p:nth-child(2) {
        order: 2
    }
    
    .left__copy p:nth-child(3) {
        order: 1
    }
    


footer section,
.copyright,
.left__copy {
    flex-direction: column
}

.footer__logo .logo__name {
    margin: 0
}



.footer__info a {
    font-weight: 400
}

.footer__info li,
.footer__info ul li:first-child {
    margin: 0 0 15px
}

.footer__info .footer__soc {
    margin: 7px 0 24px
}

.footer__text {
    font-size: .68rem;
    width: 100%;
    line-height: 20px
}

.copyright,
.left__copy {
    margin: 24px 0 0;
    align-items: flex-start
}
.left__copy {
    margin: 0
}
.footer__info li p{
    line-height: 21px;
}
}



/*----------*/
