
#footer__content{
    background-color: #333;
    padding: 55px 0 50px;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    transition: all .3s ease-in-out;
}

footer section, footer li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}